{% extends 'base.html' %}
{% block content %}

{% include 'team/navigation.html' %}
<main id="main" class="main">

    <div class="card">
        <div class="card-body">
        <h5 class="card-title"> Add an asset</h5>

        <!-- Vertical Form -->
            <form  method = "post" action = "{% url 'add asset' LabUUID category_pk %}" enctype="multipart/form-data" validate >
              {% csrf_token %}


              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Category Type</label>
                <div class="col-sm-10">
                  <select name = "category_type" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="Projector">Projector</option>
                    <option value="VGA Cables">VGA Cables</option>
                    <option value="HDMI Cables">HDMI Cables</option>
                    <option value="VGA-HDMI Converters">VGA-HDMI Converters</option>
                    <option value="Remote">Remote</option>
                    <option value="Extension Cables">Extension Cables</option>
                    <option value="Others">Others</option>
                 </select>
                </div>
              </div>


              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Asset Name</label>
                <div class="col-sm-10">
                  <input  name ="asset_name"type="text" class="form-control">
                </div>
              </div>

              

              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                <div class="col-sm-10">
                  <input name ="asset_pic" class="form-control" type="file" id="formFile">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Working Condition</label>
                <div class="col-sm-10">
                  <select name= "condition" class="form-select" aria-label="Default select example">
                    <option selected>Good</option>
                    <option value="Good">Good</option>
                    <option value="Faulty">Faulty</option>
                    <option value="Not Working">Not Working</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Availability Status</label>
                <div class="col-sm-10">
                  <select name= "status" class="form-select" aria-label="Default select example">
                    <option selected>Available</option>
                    <option value="Available">Available</option>
                    <option value="Not available">Not available</option>
                    <option value="Borrowed">Borrowed</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary rounded-pill" style="margin:0 10px;">Submit Form</button>
                <a href="{% url 'asset category details' LabUUID category_pk %}">
                  <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                </a>
                </div>

            </form><!-- End General Form Elements -->

    </div>

</main>


{% endblock content %}