{% extends 'base.html' %}
{% block content %}

{% include 'team\navigation.html' %}

<main id="main" class="main">

    <div class="card">
        <div class="card-body">
        <h5 class="card-title"> Raise an issue</h5>

        <!-- Vertical Form -->
        <form class="row g-3" action ="{% url 'raiseIssue' LabUUID%}" method = "post" validate>
            {% csrf_token %}
            <div class="col-12">
                <label for="inputAddress" class="form-label">Descriptive title (100 characters max)</label>
                <input type="text" name="title" class="form-control" id="inputAddress" placeholder="Missing VGA | Fault computer with OS problems in lab SC21 ">
            </div>
            <div class="col-12">
                <label class="form-label">State of the issue</label>
                <div>
                    <select name ="status" class="form-select" aria-label="Default select example" required>
                        <option selected></option>
                        <option value="Low attention">Low attention</option>
                        <option value="Medium attention">Medium attention</option>
                        <option value="Urgent attention">Urgent</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <label for="inputPassword" class="form-label">Describe the issues(400 characters max)</label>
                <div >
                  <textarea name="details"  class="form-control" style="height: 100px"></textarea>
                </div>
              </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
                <button type="reset" class="btn btn-secondary rounded-pill">Reset</button>
                <a href = {% url "issues" LabUUID %}>
                    <button type="button" class="btn btn-light rounded-pill">Cancel</button>
                </a>

            </div>
        </form>

        </div>
    </div>

</main>


{% endblock content %}