{% extends 'base.html' %}
{% block content %}

{% include 'team/navigation.html' %}


<main id="main" class="main">
    <div class="col-lg">


            <h5 class="card-title">Roles in {{ LabName }} </h5>

            <!-- Accordion without outline borders -->
              {% for role in roles %}
              <div class="accordion-item">
                  
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{role.title}}</h5>  
                    <p class="card-message">{{role.description}}</p>
                    <h5 class="card-title">{{role.title}} tasks</h5>  
                    <!-- List group with active and disabled items -->
                    <ul class="list-group list-group-flush">
                      {% if role.task_1 %}
                      <li class="list-group-item">{{ role.task_1 }}</li>
                      {% endif %}
                      {% if role.task_2 %}
                      <li class="list-group-item">{{ role.task_2 }}</li>
                      {% endif %}
                      {% if role.task_3 %}
                      <li class="list-group-item">{{ role.task_3 }}</li>
                      {% endif %}
                      {% if role.task_1 %}
                      <li class="list-group-item">{{ role.task_1 }}</li>
                      {% endif %}
                      {% if role.task_4 %}
                      <li class="list-group-item">{{ role.task_4 }}</li>
                      {% endif %}
                      {% if role.task_5 %}
                      <li class="list-group-item">{{ role.task_5 }}</li>
                      {% endif %}
                      {% if role.task_6 %}
                      <li class="list-group-item">{{ role.task_5 }}</li>
                      {% endif %}
                    </ul><!-- End Clean list group -->
      
                  </div>
                </div>
              </div>
              {% endfor %}
            </div><!-- End Accordion without outline borders -->

      </div>
</main>


{% endblock content %}