{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% load socialaccount %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a href="" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="" />
                <span class="d-none d-lg-block">WorkStudy</span>
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Create an Account
                  </h5>
                </div>

                
                {% for field in form %}
                  {% for error in field.errors %}
                  <div
                  class="alert alert-danger alert-dismissible fade show"
                  style="margin: 20px 0px"
                  role="alert"
                  >

                    {{field.label}}: {{ error|escape }}

                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                  {% endfor %}
                {% endfor %}
                  

                <form
                  class="row g-3 needs-validation"
                  method="post"
                  action="{% url 'account_signup' %}"
                  validate
                >
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="col-12">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field|add_classes:'form-control' }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">
                      {{ field.help_text }}
                    </small>
                    {% endif %}
                  </div>
                  {% endfor %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">
                      Sign Up
                    </button>
                  </div>
                  <div>
                      <a href="{% url 'sign up' %}">Sign in with google</a>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Already have an account?
                      <a href="{% url  "account_login" %}">Log in</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->
{% endblock content %}
