{% extends 'navigation.html' %}
{% block innercontent %}

{% block orgName %}

{{ organizationName }}

{% endblock orgName %}

{% block username %}

{{ username}}

{% endblock %}


{% block role %}

{{ role }}

{% endblock role %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Lab assets</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Assets</a></li>
          <li class="breadcrumb-item active">Lab assets</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <a href="{% url 'add asset' organizationUUID %}">
      <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
      Add an asset
      </button>
    </a>

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col">
          <div class="row">
            <!-- Top Selling -->
            <div class="col-12">
              {% if assets %}
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Lab assests</h5>


                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                  {% for item in   assets %}

                      <tr>
                        <th scope="row"><img style = "{max-width:150px;}" src="{{item.pic.url}}" alt=""></th>
                        <td>{{item.name}}</td>
                        <td>{{item.condition}}</td>
                        <td class="fw-bold">{{item.status}}</td>
                        {% comment %} <td>Edit</td> {% endcomment %}
                      </tr>
                  {% endfor %}
                    

                    </tbody>
                  </table>
                </div>
                
              </div>
              {% else %}
              <h3>No assets found for {{organizationName}}</h3>
              {% endif %}

              
              

            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

{% endblock innercontent %}
