{% extends 'navigation.html' %}
{% block innercontent %}

{% block orgName %}

{{ organizationName }}

{% endblock orgName %}

{% block username %}

{{ username}}

{% endblock %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Borrowed assets</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Assets</li>
          <li class="breadcrumb-item active">Borrowed Assets</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col">
          <div class="row">
            <!-- Top Selling -->
            <div class="col-12">
              {% if borrowed_assets %}
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">Borrowed items</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Location of use</th>
                        <th scope="col">Picked by</th>
                        <th scope="col">Picked on</th>
                        <th scope="col">Returned</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                  {% for item in borrowed_assets %}

                      <tr>
                        <th scope="row">
                            <img style = "{max-width:150px;}" src="{{item.asset.pic.url}}" alt="asset image">
                        </th>
                        <td>{{item.location_of_use}}</td>
                        <td>{{item.person}}</td>
                        <td>{{item.picked_on}}</td>
                        <td class="fw-bold">{{item.returned}}</td>
                        {% if not item.returned %}
                        <td><a href = {% url 'return assets' organizationUUID item.pk %}>Mark as Returned</a></td>
                        {% endif %}
                      </tr>
                  {% endfor %}
                    

                    </tbody>
                  </table>

              
                </div>
                
              </div>
              {% else %}
              <h3>No borrowed assets recorded</h3>
              {% endif %}

              
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                Lend
              </button>

              <div class="modal fade" id="fullscreenModal" tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Lend out an asset</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- General Form Elements -->
                    <div class="col-lg-8" >
                    <form  method = "post" action = "{% url 'borrowed assets' organizationUUID %}" validate >
                      {% csrf_token %}
                      <div class="row mb-3">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Item</label>
                            <div class="col-sm-10">
                              <select name= "Item_id" class="form-select" aria-label="Default select example">
                                {% for item in assets %}
                                <option value="{{item.pk}}">{{item.name}}</option>
                                {% endfor %}
                              </select>
                            </div>
                        </div>

                       <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Borrowers Name</label>
                        <div class="col-sm-10">
                          <input  name ="persons_name"type="text" class="form-control">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Their contacts</label>
                        <div class="col-sm-10">
                          <input  name ="persons_contacts"type="text" class="form-control">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Location of use</label>
                        <div class="col-sm-10">
                          <input  name ="locatio_of_use"type="text" class="form-control">
                        </div>
                      </div>


                      <div class="row mb-3">
                      </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit Form</button>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>

                    </form><!-- End General Form Elements -->
                    </div>
                  </div>
                </div>
              </div><!-- End Full Screen Modal-->




            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

{% endblock innercontent %}
