{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>You do not have a work schedule</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Please select your work schedule</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Form</h5>

              <!-- General Form Elements -->
              <form>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Day</label>
                    <div class="col-sm-10">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>select a day of you convinience</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thurday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                      </select>
                    </div>
                  </div>

                <div class="row mb-3">
                  <label for="inputTime" class="col-sm-2 col-form-label">Time in</label>
                  <div class="col-sm-10">
                    <input type="time" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="inputTime" class="col-sm-2 col-form-label">Time out</label>
                    <div class="col-sm-10">
                      <input type="time" class="form-control">
                    </div>
                  </div>

                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button class="btn btn-secondary">Add day and time</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>         
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Your Time schedule</h5>
  
              <!-- List group with Advanced Contents -->
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Monday 3pm -10pm</h5>
                    <small>7 hours</small>
                  </div>
                  {% comment %} <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small>And some small print.</small> {% endcomment %}
                </a>
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Monday 3pm -10pm</h5>
                    <small>7 hours</small>
                  </div>
                  {% comment %} <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small>And some small print.</small> {% endcomment %}
                </a>
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Monday 3pm -10pm</h5>
                    <small>7 hours</small>
                  </div>
                  {% comment %} <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small>And some small print.</small> {% endcomment %}
                </a>

                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Monday 3pm -10pm</h5>
                    <small>7 hours</small>
                  </div>
                  {% comment %} <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small>And some small print.</small> {% endcomment %}
                </a>
              </div><!-- End List group Advanced Content -->
              <div style="margin: 20px 0px;" >
                <a href ="#">
                  <button class="btn btn-primary">Save and continue</button>
                </a>
              </div>
  
            </div>
          </div>
        </div

      </div>
    </section>


  </main><!-- End #main -->


{% endblock content %}
