{% extends 'admin_user\navigation.html' %}

{% block innercontent %} 

{% block orgName%} {{organizationName }} {% endblock orgName %} 
{% block username %} {{username}} {%endblock %}

{% block role %} {{ role }} {% endblock role %}


<main id="main" class="main">

    <div class="card">
        <div class="card-body">
        <h5 class="card-title"> Add an asset</h5>

        <!-- Vertical Form -->
            <form  method = "post" action = "{% url 'category assets' organizationUUID %}" enctype="multipart/form-data"x validate >
              {% csrf_token %}

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Category Type</label>
                <div class="col-sm-10">
                  <select name = "category_type" class="form-select" aria-label="Default select example">
                    <option value="Projector">Projector</option>
                    <option value="VGA Cables">VGA Cables</option>
                    <option value="HDMI Cables">HDMI Cables</option>
                    <option value="VGA-HDMI Converters">VGA-HDMI Converters</option>
                    <option value="Others">Others</option>
                 </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                <div class="col-sm-10">
                  <input name ="asset_category_pic" class="form-control" type="file" id="formFile">
                </div>
              </div>


              <div class="modal-footer">
                <button type="submit" class="btn btn-primary rounded-pill" style="margin:0 10px;">Submit Form</button>
                <a href="{% url 'category assets' organizationUUID %}">
                  <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                </a>
                </div>

            </form><!-- End General Form Elements -->

    </div>

</main>


{% endblock innercontent %}