{% extends 'base.html' %}

{% block content %} 

{% include 'admin_user\navigation.html' %}

<main id="main" class="main">

    <div class="card">
        <div class="card-body">
        <h5 class="card-title"> Raise an issue</h5>

        <!-- Vertical Form -->
        <form class="row g-3" action ="{% url 'raiseIssue' organizationUUID%}" method = "post" validate>
            {% csrf_token %}
            <div class="col-12">
                <label for="inputAddress" class="form-label">Explain the matter(100 words)</label>
                <input type="text" name="details" class="form-control" id="inputAddress" placeholder="Missing VGA | Fault computer with OS problems in lab SC21 ">
            </div>
            <div class="col-12">
                <label class="col-sm-2 col-form-label">State of the issue</label>
                <div class="col-sm-10">
                    <select name ="status" class="form-select" aria-label="Default select example" required>
                        <option selected></option>
                        <option value="Done">Done</option>
                        <option value="Argent">Argent</option>
                        <option value="Pending">Pending</option>
                    </select>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
                <button type="reset" class="btn btn-secondary rounded-pill">Reset</button>
                <a href = {% url "issues" organizationUUID %}>
                    <button type="button" class="btn btn-light rounded-pill">Cancel</button>
                </a>

            </div>
        </form>

        </div>
    </div>

</main>


{% endblock content %}