{% extends 'base.html' %}

{% block content %} 

{% include 'admin_user\navigation.html' %}


<main id="main" class="main">

    {% if   accounts %} 
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Team Member</h5>
  
          <!-- Default Table -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Admission number</th>
                <th scope="col">Name</th>
                <th scope="col">contacts </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for account in accounts %}
              <tr>
                <th scope="row">{{account.account_uuid}}</th>
                <td>{{account.first_name}}</td>
                <td>{{account.user.phone_number}}</td>
                <th>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal" onclick="setAccountData('{{ account.account_uuid }}', '{{ account.first_name }}')">
                    Add to team
                    <i class="bi bi-person-plus-fill"></i>
                  </button>
                    {% comment %} href="{% url 'admin_add_to_team' request.user.account.Lab.Lab_uuid account.account_uuid %}" {% endcomment %}
                </th>
                <td>{{member.assigned_to.user.date_joined}}</td>
              </tr>
              <tr>
              {% endfor %}
                
            </tbody>
          </table>
        </div>
    </div>
    {% else %}
    <div class="container">
      <section
        class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
      >
      <h5 class="card-title">No Users to add to your the lab/ please inform them to create an account on the platform</h6> 
      </section>
    </div>
    {% endif %}

    <div class="modal fade" id="largeModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="card-title">Add to team</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Add <span id="team-member-name"></span> to your team</p>
            <form id="add-to-team-form" method="POST" action="{% url 'new_member_list' request.user.account.Lab.Lab_uuid %}">
              {% csrf_token %}
              <input type = "hidden" name="account_uuid" id="account-uuid-input">
              <div class="modal-body">
                <!-- Form inputs and fields -->
                <!-- Example: -->
                <div class="col-12">
                  <label class="col col-form-label">Select which role they should join</label>
                  <div class="col-12">
                    <select name="role_id" class="form-select" aria-label="Default select example" required>
                      <option selected></option>
                      {% for role in roles %}
                      <option value="{{role.id}}">{{role.title}}</option>                   
                      {% endfor %}

                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div><!-- End Large Modal-->



    

</main>

{% endblock content %}


{% block extraJs %}
<script>
  function setAccountData(accountUUID, memberName) {
    document.getElementById("account-uuid-input").value = accountUUID;
    document.getElementById("team-member-name").textContent = memberName;
  }
</script>
{% endblock extraJs %}
