{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}


{% comment %} {% with 'admin_user\navigation.html' as template_path %}
{% include template_path|os_path %}
{% endwith %} {% endcomment %}

{% include 'admin_user/navigation.html' %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Borrowed Assets</h1>
    </div>

    <button style="margin-bottom: 15px;" type="button" type="button"
    class="btn btn-primary rounded-pill"
    data-bs-toggle="modal"
    data-bs-target="#largeModal">
      Lend out a item
    </button>

    <section class="section dashboard">
      <div class="row">

        <div class="col">
          <div class="row">

            <div class="col-12">
              {% if borrowed_assets %}

              <div class="card">
                <div class="card-body" style="padding: 10px 20px 20px 20px;">
    
                  <!-- Bordered Tabs Justified -->
                  <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                      <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Borrowed</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                      <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Pending Approval</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                      <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Returned</button>
                    </li>
                  </ul>
                  <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                    <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                      This are assets that have need borrowed and are yet to be returned. Click on the Mark as Returned button to mark an asset as returned.
                        
                        <div class="card-body pb-0">
                          <h5 class="card-title">Borrowed items</h5>
                          {% for item in borrowed_assets %}
                            {% if not item.returned %}
                              <table class="table table-borderless">
                                <thead>
                                  <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Location of use</th>
                                    <th scope="col">Picked by</th>
                                    <th scope="col">Picked on</th>
                                    <th scope="col">Returned</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
              
                                  <tr>
                                    <th scope="row">
                                      <a href="{% url 'admin asset details' item.asset.pk %}">  
                                        <img style = "max-width:150px;" src="{{item.asset.pic.url}}" alt="asset image">
                                      </a>
                                    </th>
                                    <td>{{item.location_of_use}}</td>
                                    <td>{{item.person}}</td>
                                    <td>{{item.picked_on}}</td>
                                    <td class="fw-bold">{{item.returned}}</td>
                                    {% if not item.returned %}
                                    <td><a href = {% url 'admin return asset' item.pk %}>Mark as Returned</a></td>
                                    {% endif %}
                                  </tr>
                                    
                                    
                                </tbody>
                              </table>
                            {% endif %}
                          {% endfor %}
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">Pages</h5>
                          <nav aria-label="...">
                            <ul class="pagination">
                              {% if borrowed_assets.has_previous %}          
                              <li class="page-item">
                                <a class="page-link" href="?page={{ borrowed_assets.previous_page_number }}" tabindex="-1" aria="true">Previous</a>
                              </li>
                              {% endif %}
      
                              
                              <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">{{ borrowed_assets.number }}</a>
                              </li>
      
                              {% if borrowed_assets.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ borrowed_assets.next_page_number }}">Next</a>
                              </li>
                              {% endif %}
      
                            </ul>
                          </nav><!-- End Disabled and active states -->
            
                        </div>
                        
                      
                    
                    </div>
                    <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                      This are assets that have been requested for borrowing and are yet to be approved. Click on the Approval link to mark an asset as issued.
                      <div class="card-body pb-0">
                        <h5 class="card-title">Items Pending Approval</h5>
      
                        {% for item in borrowed_assets %}
                          {% if item.asset.status == "Pending Approval" %}
                            <table class="table table-borderless">
                              <thead>
                                <tr>
                                  <th scope="col">Image</th>
                                  <th scope="col">Location of use</th>
                                  <th scope="col">Picked by</th>
                                  <th scope="col">Picked on</th>
                                  <th scope="col">Returned</th>
                                  <th scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">
                                    <a href="{% url 'admin asset details' item.asset.pk %}">  
                                      <img style = "max-width:150px;" src="{{item.asset.pic.url}}" alt="asset image">
                                    </a>
                                  </th>
                                  <td>{{item.location_of_use}}</td>
                                  <td>{{item.person}}</td>
                                  <td>{{item.picked_on}}</td>
                                  <td class="fw-bold">{{item.returned}}</td>
                                  {% if not item.returned %}
                                  <td><a href = {% url 'admin return asset' item.pk %}>Mark as Returned</a></td>
                                  {% endif %}
                                </tr> 
                              </tbody>
                            </table>
                          {% endif %}
                        {% endfor %}
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Pages</h5>
                        <nav aria-label="...">
                          <ul class="pagination">
                            {% if borrowed_assets.has_previous %}          
                            <li class="page-item">
                              <a class="page-link" href="?page={{ borrowed_assets.previous_page_number }}" tabindex="-1" aria="true">Previous</a>
                            </li>
                            {% endif %}
    
                            
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">{{ borrowed_assets.number }}</a>
                            </li>
    
                            {% if borrowed_assets.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ borrowed_assets.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
    
                          </ul>
                        </nav><!-- End Disabled and active states -->
          
                      </div>

                    </div>
                    <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
                      This are items that have been returned.
                    
                      <div class="card-body pb-0">
                        <h5 class="card-title">Items returned</h5>
      
                        {% for item in borrowed_assets %}
                          {% if item.returned == True %}
                            <table class="table table-borderless">
                              <thead>
                                <tr>
                                  <th scope="col">Image</th>
                                  <th scope="col">Location of use</th>
                                  <th scope="col">Picked by</th>
                                  <th scope="col">Returned on</th>
                                  <th scope="col">Recieved by</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">
                                    <a href="{% url 'admin asset details' item.asset.pk %}">  
                                      <img style = "max-width:150px;" src="{{item.asset.pic.url}}" alt="asset image">
                                    </a>
                                  </th>
                                  <td>{{item.location_of_use}}</td>
                                  <td>{{item.person}}</td>
                                  <td>{{item.returned_on}}</td>
                                  <td>{{item.received_by}}</td>
                                </tr> 
                              </tbody>
                            </table>
                          {% endif %}
                        {% endfor %}
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Pages</h5>
                        <nav aria-label="...">
                          <ul class="pagination">
                            {% if borrowed_assets.has_previous %}          
                            <li class="page-item">
                              <a class="page-link" href="?page={{ borrowed_assets.previous_page_number }}" tabindex="-1" aria="true">Previous</a>
                            </li>
                            {% endif %}
    
                            
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">{{ borrowed_assets.number }}</a>
                            </li>
    
                            {% if borrowed_assets.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ borrowed_assets.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
    
                          </ul>
                        </nav><!-- End Disabled and active states -->
          
                      </div>
                    
                    </div>
                  </div><!-- End Bordered Tabs Justified -->
    
                </div>
              {% comment %} </div> {% endcomment %}
              {% else %}
              <h3>No borrowed assets recorded</h3>
              {% endif %}

            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->



  <div class="modal fade" id="largeModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          |
          <div class="card-body">
            <h5 class="card-title">New asset category form</h5>
  
            <!-- Multi Columns Form -->
            <form  method = "post" action = "{% url 'admin borrow asset'%}" validate >
              {% csrf_token %}
              <div class="row mb-3">
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Item</label>
                <div class="col-sm-10">
                  <select name= "Item_id" class="form-select" aria-label="Default select example" required>
                  {% for item in availabe_assets %}
                  <option value="{{item.pk}}">{{item.name}} | {{item.Lab.name}} </option>
                  {% endfor %}
                  </select>
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Borrowers Name</label>
                <div class="col-sm-10">
                    <input  name ="persons_name"type="text" class="form-control" required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Student ID Number</label>
                <div class="col-sm-10">
                    <input  name ="student_id"type="text" class="form-control" placeholder="21-XXXX">
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Their contacts</label>
                <div class="col-sm-10">
                    <input  name ="persons_contacts" 
                    type="text" 
                    class="form-control" 
                    placeholder="+2547xxxxxx78"
                    pattern="\+2547\d{8}"
                    title="Please enter a valid phone number in the format +2547 followed by 8 digits e.g +254712345678"
                    required>
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Location of use</label>
                <div class="col-sm-10">
                    <input  name ="location_of_use"type="text" class="form-control" required>
                </div>
              </div>
  
  
              <div class="row mb-3">
              </div>
  
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button
                  type="reset"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
              
  
          </form><!-- End General Form Elements -->
  
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
