{% extends 'admin_user\navigation.html' %}

{% block innercontent %} 

{% block orgName%} {{organizationName }} {% endblock orgName %} 
{% block username %} {{username}} {%endblock %}

{% block role %} {{ role }} {% endblock role %}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Asset Details</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Assets</li>
            <li class="breadcrumb-item active">{{item_category.category}}</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{item_category.category}}</h3>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="white-box text-center">
                            <img style = "max-width:250px;" src="{{item_category.category_pic.url}}" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6">
                        <h2 class="mt-5">
                            Borrowed:<small class="text-info">{{item_category.borrowed_assets}}</small>         
                        </h2>
                        <h2>
                            Total:<small class="text-info">{{item_category.quantity}}</small>
                        </h2>

                        <a href="{% url 'admin add assets' organizationUUID item_category.pk %}">
                            <button
                              style="margin-bottom: 15px"
                              type="button"
                              class="btn btn-primary rounded-pill"
                              data-bs-toggle="modal"
                              data-bs-target="#fullscreenModal"
                            >
                              Add an asset
                            </button>
                          </a>
                    </div>
                    {% comment %} {% if item_category.asset.status == "Borrowed" %} {% endcomment %}
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title mt-5">Assets</h3>
                        <div class="table-responsive">
                            {% if items %}
                            <div class="card top-selling overflow-auto">
                                <div class="card-body pb-0">
                                <h5 class="card-title">Borrowed items</h5>

                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Condition</th>
                                        <th scope="col">Return Item</th>
                                        {% comment %} <th scope="col">Action</th> {% endcomment %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in items %}

                                        <tr>
                                            <th scope="row">
                                            <a href="{% url 'asset details' organizationUUID item.pk %}">  
                                                <img style = "max-width:150px;" src="{{item.pic.url}}" alt="asset image">
                                            </a>
                                            </th>
                                            <td>{{item.name}}</td>
                                            <td>{{item.status}}</td>
                                            <td>{{item.condition}}</td>
                                            {% if item.status == 'Borrowed' %}
                                            <td><a href = {% url 'admin borrow asset' organizationUUID %}>Return</a></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                    

                                     </tbody>
                                </table>

                        
                            </div>

                            {% comment %} <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Pages</h5>
                                <nav aria-label="...">
                                <ul class="pagination">
                                    {% if borrowed_assets.has_previous %}          
                                    <li class="page-item">
                                    <a class="page-link" href="?page={{ borrowed_assets.previous_page_number }}" tabindex="-1" aria="true">Previous</a>
                                    </li>
                                    {% endif %}

                                    
                                    <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">{{ borrowed_assets.number }}</a>
                                    </li>

                                    {% if borrowed_assets.has_next %}
                                    <li class="page-item">
                                    <a class="page-link" href="?page={{ borrowed_assets.next_page_number }}">Next</a>
                                    </li>
                                    {% endif %}

                                </ul>
                                </nav><!-- End Disabled and active states -->
                
                            </div>
                            </div> {% endcomment %}
                            
                        </div>
                        {% else %}
                        <h3>No assets of this category have been recorded yet</h3>
                        {% endif %}
                        </div>
                    </div>
                    {% comment %} {% endif %} {% endcomment %}
                </div>
            </div>
        </div>
    </div>


{% endblock innercontent %}
