{% extends 'base.html' %} 

{% block content %} 

{% include 'admin_user\navigation.html' %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Issues that might need your attention</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Workplace</li>
        <li class="breadcrumb-item active">Issues</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <a href="{% url 'raiseIssue' request.user.account.Lab.Lab_uuid %}">
    <button
      style="margin-bottom: 15px"
      type="button"
      class="btn btn-primary rounded-pill"
    >
      Raise an issue
    </button>
  </a>

  <section class="section dashboard">
    <div class="row">
      <!-- Task list report -->
      <div class="col">
        {% if issues %}
        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <h5 class="card-title"></h5>

            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Issues</th>
                  <th scope="col">Date reported</th>

                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for issue in issues %}
                <tr>
                  <th scope="row">#{{issue.pk}}</th>
                  <th>
                    <a
                      href="{% url 'admin_issues_details' request.user.account.Lab.Lab_uuid issue.pk %}"
                      >{{issue.title}}</a
                    >
                  </th>
                  <td>{{issue.reported_on}}</td>
                  {% if issue.status == 'Done' %}
                  <td>
                    <span class="badge bg-success">{{issue.status}}</span>
                  </td>
                  {% endif %} {% if issue.status == 'Addressing' %}
                  <td>
                    <span class="badge bg-primary">{{issue.status}}</span>
                  </td>
                  {% endif %} {% if issue.status == 'Noted pending address' %}
                  <td><span class="badge bg-info">{{issue.status}}</span></td>
                  {% endif %}{% if issue.status == 'Urgent attention' %}
                  <td><span class="badge bg-danger">{{issue.status}}</span></td>
                  {% endif %}{% if issue.status == 'Medium attention' %}
                  <td>
                    <span class="badge bg-warning text-dark"
                      >{{issue.status}}</span
                    >
                  </td>
                  {% endif %}{% if issue.status == 'Low attention' %}
                  <td>
                    <span class="badge bg-light text-dark"
                      >{{issue.status}}</span
                    >
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pages</h5>
              <nav aria-label="...">
                <ul class="pagination">
                  {% if issues.has_previous %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ issues.previous_page_number }}"
                      tabindex="-1"
                      aria="true"
                      >Previous</a
                    >
                  </li>
                  {% endif %}

                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ issues.number }}</a>
                  </li>

                  {% if issues.has_next %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ issues.next_page_number }}"
                      >Next</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </nav>
              <!-- End Disabled and active states -->
            </div>
          </div>
        </div>

        {% else %}
        <div class="container">
          <section
            class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
          >
            <h5 class="card-title">No issue has been raised yet</h5>
          </section>
        </div>
        {% endif %}
      </div>
      <!-- End Borrowed items report -->
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock content %}
