
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">
          Workstudy
        </span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- ======= Icons Navigation ======= -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% comment %} <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> {% endcomment %}
            <span class="d-none d-md-block dropdown-toggle ps-2">
              {{request.user.account.first_name}} {{request.user.account.last_name}}
            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>
                Supervisor
              </h6>
              <span>

              </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'admin profile'   %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'log out' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'admin_dashboard'   %}">
          <i class="bi bi-grid"></i>
          <span>My Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <!-- <li class="nav-heading">Services</li> -->



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-stack"></i><span>Workplace</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'admin labs' %}">
              <i class="bi bi-circle"></i><span>Lab Managment</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin assets category' %}">
              <i class="bi bi-circle"></i><span>Assets Managment</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin borrow asset' %}">
              <i class="bi bi-circle"></i><span>Borrowed assets</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin_issues'%}">
              <i class="bi bi-circle"></i><span>Issues</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin lost and found'%}">
              <i class="bi bi-circle"></i><span>Lost and found</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Components Nav -->



    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'admin_roles'   %}">
        <i class="bi bi-list-task"></i>
        <span>Roles</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>My Team</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin_myTeam' request.user.account.Lab.Lab_uuid %}">
            <i class="bi bi-circle"></i><span>Team Members</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-list-columns-reverse"></i>
        <span>Reports</span>
      </a>
    </li> 
        

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin profile'   %}">
          <i class="bi bi-person"></i>
          <span>My Profile</span>
        </a>
      </li>

      <!-- End Contact Page Nav -->

  </aside><!-- End Sidebar-->
  
{% comment %} {% block innercontent %}
{% endblock innercontent %}

{% endblock content %}

{% block extraJs %}
  
{% endblock extraJs %} {% endcomment %}