{% extends 'base.html' %}

{% block content %} 


{% include 'admin_user/navigation.html' %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Roles for you labs</h1>
  </div>
    <div class="col-lg">


      <button style="margin-bottom: 15px;" type="button" type="button"
      class="btn btn-primary rounded-pill"
      data-bs-toggle="modal"
      data-bs-target="#largeModal">
        Add a new role
      </button>

      <!-- Accordion without outline borders -->
        {% for role in roles %}
        <div class="accordion-item">
            
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <h2 class="m-5">{{role.title}} for {{role.Lab.name}}</h2>  
              </div>
              <p class="card-message">{{role.description}}</p>
              <h5 class="card-title">{{role.title}} tasks</h5>  
              <!-- List group with active and disabled items -->
              <ul class="list-group list-group-flush">
                {% if role.task_1 %}
                <li class="list-group-item">{{ role.task_1 }}</li>
                {% endif %}
                {%if role.task_2 %}
                <li class="list-group-item">{{ role.task_2 }}</li>
                {% endif%}
                {%if role.task_3 %}
                <li class="list-group-item">{{ role.task_3 }}</li>
                {% endif%}
                {%if role.task_4 %}
                <li class="list-group-item">{{ role.task_4 }}</li>
                {% endif%}
                {%if role.task_5 %}
                <li class="list-group-item">{{ role.task_5 }}</li>
                {% endif%}
                {%if role.task_6 %}
                <li class="list-group-item">{{ role.task_6 }}</li>
                {% endif %}
              </ul><!-- End Clean list group -->

            </div>
          </div>
        </div>
        {% endfor %}
    </div>

  </main>

  <div class="modal fade" id="largeModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          |
          <div class="card-body">
            <h5 class="card-title">New asset category form</h5>
  
            <!-- Multi Columns Form -->
            <form
        class="row g-3"
        method="post"
        action="{% url 'admin_roles' %}"
        enctype="multipart/form-data"
        validate
      >
        {% csrf_token %}
        <div class="col-md-6">
          <div class="form-floating">
            <input
              type="text"
              name="roleTitle"
              class="form-control"
              id="floatingTitle"
              placeholder="Role Title"
              required
            />
            <label for="floatingTitle">Role title</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <select
            name="lab_id"
            class="form-select"
            aria-label="Default select example"
            required
          >
            {% for lab in request.user.account.Lab.all %}
            <option value="{{lab.Lab_uuid}}">{{lab.name}}</option>
            {% endfor %}
          </select>
            <label for="floatingLab">Lab</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              class="form-control"
              name="description"
              placeholder="Description(250 words)"
              id="floatingTextarea"
              style="height: 100px"
              required
            ></textarea>
            <label for="floatingDescription">Description</label>
          </div>
        </div>

        <div class="col-12">
          <h6 class="card-title">Task to be performed</h6>
        </div>

        <div class="col-12">
          <label for="text" class="form-label">TasK 1</label>
          <input
            type="text"
            name="task1"
            class="form-control"
            id="inputAddress2"
            placeholder="(Optional)"
          />
        </div>

        <div class="col-12">
          <label for="text" class="form-label">TasK 2</label>
          <input
            type="text"
            name="task2"
            class="form-control"
            id="inputAddress2"
            placeholder="(Optional)"
          />
        </div>

        <div class="col-12">
          <label for="text" class="form-label">TasK 3</label>
          <input
            type="text"
            name="task3"
            class="form-control"
            id="inputAddress2"
            placeholder="(Optional)"
          />
        </div>

        <div class="col-12">
          <label for="text" class="form-label">TasK 4</label>
          <input
            type="text"
            name="task4"
            class="form-control"
            id="inputAddress2"
            placeholder="(Optional)"
          />
        </div>

        <div class="col-12">
          <label for="text" class="form-label">TasK 5</label>
          <input
            type="text"
            name="task5"
            class="form-control"
            id="inputAddress2"
            placeholder="(Optional)"
          />
        </div>

        <div class="col-12">
          <label for="text" class="form-label">TasK 6</label>
          <input
            type="text"
            name="task6"
            class="form-control"
            id="inputAddress2"
            placeholder="(Optional)"
          />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button
            type="reset"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
      <!-- End General Form Elements -->
  
          </div>
        </div>
      </div>
    </div>

{% endblock content %}