{% extends 'base.html' %}

{% block content %} 


{% include 'admin_user\navigation.html' %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>My Team</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <a href="{% url 'new_member_list' request.user.account.Lab.Lab_uuid %}">
    <button
      style="margin-bottom: 15px"
      type="button"
      class="btn btn-primary rounded-pill"
    >
      Add a team member
    </button>
  </a>

  <section class="section dashboard">
    <divclass="col" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My Team Member</h5>

        <!-- Default Table -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Start Date</th>
            </tr>
          </thead>
          <tbody>
            {% for member in team %}
            <tr>
              <th scope="row">{{member.assigned_to.account_uuid}}</th>
              <th>
                <a
                  href="{% url 'admin_member_profile' request.user.account.Lab.Lab_uuid member.assigned_to.account_uuid %}"
                  >{{member.assigned_to.first_name}} {{member.assigned_to.last_name}}</a
                >
              </th>
              <td>{{member.role}}</td>
              <td>{{member.assigned_to.user.phone_number}}</td>
              <td>{{member.assigned_to.user.date_joined}}</td>
            </tr>
            <tr>
            {% endfor %}
              
          </tbody>
        </table>
        <!-- End Default Table Example -->
      </div>
  </section>
</main>
<!-- End #main -->

{% endblock content %}
