{% extends 'base.html' %}
{% block content  %}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
 
  <div class="row" >

      <div class="d-flex justify-content-center py-4">
        <a href="" class="logo d-flex align-items-center w-auto">
          {% comment %} <img src="{% static 'assets/img/logo.png' %} " alt=""> {% endcomment %}
          <span class="d-none d-lg-block">Daystar Labs</span>
        </a>
      </div><!-- End Logo -->

      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Profile for your account</h5>
      </div>

      <div class="col-12">
          <div class="card">
            <div class="card-body pt-3">

                <div class="nav-item">
                  <p class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                    This is all we need from you 
                  </p>
                </div>

              <div class="tab-content pt-2">

                <!-- Profile Edit Form -->
                <form method = 'post' action = {% url 'createprofile' %}>
                  {% csrf_token %}

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="firstName" type="text" class="form-control" id="fullName" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="lastName" type="text" class="form-control" id="fullName" required>
                    </div>
                  </div>

                   <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" 
                      type="text" 
                      class="form-control" 
                      id="Phone" 
                      placeholder="+2547xxxxxx78"
                      pattern="\+2547\d{8}"
                      title="Please enter a valid phone number in the format +2547 followed by 8 digits e.g +254712345678"
                      required>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->


              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </div>
</section>
{% endblock content  %}

